
<div class="container-fluid footer pt-4">

    <div class="container">

        <div class="row">

            <div class="col-xm-12 col-md-6">

                <div class="row my-4">

                    <div class="col-12 text-center mb-3 title">
                        CONTÁCTAME
                    </div>

                    <div class="col">
                        <span>
                            <a href="https://www.facebook.com/kevineramos.dev" target="_blank">
                                <i class="fab fa-facebook redes"></i>
                            </a>                            
                        </span>
                    </div>
                    <div class="col">
                        <a href="https://www.linkedin.com/in/kevinramosgonzales/" target="_blank">
                            <span><i class="fab fa-linkedin redes"></i></span>
                        </a>                        
                    </div>
                    <div class="col">
                        <span>
                            <a href="https://www.instagram.com/kevineramos.dev" target="_blank">
                                <i class="fab fa-instagram-square redes"></i>
                            </a>                            
                        </span>
                    </div>
                    
                    <div class="col">
                        <span>
                            <a href="https://api.whatsapp.com/send?phone=51970344480&text=Hola!" target="_blank">
                                <i class="fab fa-whatsapp redes"></i>
                            </a>
                        </span> 
                    </div>

                </div>
               
                <div class="row mt-4 p-4">

                    <div class="col-12">
                        <span><i class="fas fa-mobile"></i> 970344480</span> 
                    </div>
                    
                    <div class="col-12">
                        <span><i class="fas fa-envelope"></i> kevinramosgonzales@gmail.com</span>
                    </div>
                    
                    
                </div>
 
            </div>
    
            
    
            <div class="col-xm-12 col-md-6 text-center my-4">
                <div class="col-12 text-center mb-3 title">
                    UBICACIÓN
                </div>

                <div class="row">
                    <div class="col-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15605.845869594723!2d-77.04601181096757!3d-12.08052863272506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c88c1907bf77%3A0x190962f6e2177564!2sLince!5e0!3m2!1ses-419!2spe!4v1606533105756!5m2!1ses-419!2spe" height="100%" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="img-fluid"></iframe>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>