<!-- QUIEN SOY -->
<section class="dedicacion m-4" id="quien-soy">
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-8 mb-4">
            <h1 class="display-4 font-weight-bold text-primary text-center">¿Quién soy?</h1><br>
  
            <p class="h5 text-center">Mi nombre es Kevin Ramos, tengo {{ edad() }} años y estudio ingeniería de sistemas. <br>
              Me apasiona el mundo del desarrollo web, el uso de frameworks y Apis.
            </p>


              <div class="text-center">
                <a target="_blank" download="Kevin Ramos Gonzales CV" class="btn btn-outline-info btn-lg mt-3 boton" href="https://kevineramos.github.io/CV2020.pdf">Descargar CV</a>
              </div>
        </div>


        <div class="col-12 col-md-4 text-center">
          <img src="https:/kevineramos.github.io/img/kevinperfil.jpeg" alt="Kevin E Ramos" class="img-fluid mb-4 mb-md-0  rounded-circle perfil">
        </div>

        
      </div>
    </div>
  </section>
