<div class="container py-4 mb-4 tecnologias">
    <div class="row text-center">
        <div class="col-12 col-md-6">
            <span><i class="fas fa-laptop-code display-3"></i></span>
            <p class="display-4">Aptitudes</p>
            <p class="apt" >CSS 3</p>
            <p class="apt" >JavaScript</p>
            <p class="apt" >TypeScript</p>
            <p class="apt" >SQL</p>
            <p class="apt" >PHP</p>
            <p class="apt" >Bootstrap</p>
            <p class="apt" >Angular</p>
            <p class="apt" >Vue JS</p>
            <p class="apt" >Laravel</p>
            <p class="apt" >GIT</p>
            <p class="apt" >SCRUM</p>
        </div>
        <div class="col-12 col-md-6 text-center d-flex align-items-center">
            <img src="https://kevineramos.github.io/json/img/frameworks.jpg" class="img-fluid">

        </div>
    </div>
</div>
