<!-- swiper CSS -->
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

<div class="container slider">
  <!-- Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">

      <div
        class="swiper-slide img-fluid"
        style="
          background-image: url('https://kevineramos.github.io/img/kevineramos_.png');
        "
      ></div>

      <div
        class="swiper-slide img-fluid"
        style="
          background-image: url('https://kevineramos.github.io/img/frontback%20(2).png');
        "
      ></div>
      
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
