<div class="container-fluid navegacion">
  <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top" id="navegacion">
    <div class="container">
      <a href="" class="navbar-brand display-4">
        <strong class="text-success font-weight-bold">
          &lt;/ </strong>Kevin E Ramos <strong class="text-warning font-weight-bold">&gt;</strong>
      </a>

      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu-principal" aria-controls="menu-principal" aria-expanded="false" aria-label="Desplegar menú de navegación">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="menu-principal">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item"><a class="nav-link text-white" routerLink="/" routerLinkActive="activo" [routerLinkActiveOptions]="{exact:true}">Sobre mi</a></li>

          <li class="nav-item"><a class="nav-link text-white" routerLink="/portafolio" routerLinkActive="activo">Portafolio</a></li>

          <li class="nav-item"><a href="#aptitudes" class="nav-link text-white" routerLink="/tecnologias" routerLinkActive="activo">Tecnologías</a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>

